<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <p>
  	<span class="text-warning">
	  <strong><%= comment.commenter %></strong>
	</span>
    <%= comment.body %>
    <small><%= link_to '削除', [comment.post, comment],
  								  method: :delete,
  								  data: { confirm: '本当に消すの？' } %></small>
  </p>
<% end %>